@use 'sass:map';

@import '../../../styles/variables.scss';



.container {
    cursor: url('https://i.imgur.com/mGmmKd8.png')29 29, auto;

    .hayotaLady {
        position: fixed;
        bottom: 0;
        right: 0;
        cursor: url('https://i.imgur.com/RmWj5D8.png')29 29, auto;

    }

    background-color: #ffffff;
    height: auto;

    .mainTitle {
        color: #000000;
        margin-block-start: 164px;
        margin-inline-start: 164px;
        font-size: 36px;
        font-weight: 400;
    }

    .infoContainer {
        display: flex;

        .companyInfo {
            display: flex;
            gap: 64px 0;
            width: 713px;
            margin-top: 124px;
            display: flex;
            flex-direction: column;
            font-size: 36px;
            margin-inline-start: 164px;

            & span {
                color: #FF3131;
            }

        }

        .teamInfo {
            margin: 124px 0 192px 0;
            display: flex;
            flex-direction: column;

            gap: 64px 0;
            margin-inline-start: 60px;

            &__container {
                display: flex;
                flex-direction: column;


                &--tag {
                    width: 122px;
                    height: 122px;
                    margin-bottom: 8px;
                }

                &--text {
                    font-size: 36px;
                }
            }
        }
    }


}






@media (max-width: map.get($sizes, main-mobile-width)) {



    .container {
        max-width: map.get($sizes, main-mobile-width);

        display: flex;
        flex-direction: column;
        align-items: center;

        .hayotaLady {
            position: static;
            margin-top: 42px;
        }

        .mainTitle {
            margin-block-start: 0;
            margin-inline-start: 0;
            margin-top: 64px;
        }


        .infoContainer {
            display: flex;
            flex-direction: column;

            align-items: center;

            .companyInfo {
                margin-top: 64px;
                width: 287px;
                margin-inline-start: 0;
                font-size: 32px;
            }

            .teamInfo {
                margin-inline-start: 0;
                margin: 64px 0 250px 0;

                &__container {
                    display: flex;
                    flex-direction: column;
                    gap: 8px 0;



                    &--tag {
                        width: 91.5px;
                        height: 91.5px;
                        margin-bottom: 0;
                    }

                    &--text {
                        font-size: 32px;

                    }
                }
            }

        }

    }
}